@page "/"
@inject NavigationManager NavManager

<PageTitle>O Solemio</PageTitle>

<p>
    <img src="images/solemio.jpg" />
</p>

@code {
    protected override void OnInitialized()
    {
        NavManager.NavigateTo("/termo");
    }
}
